extends layout

block content
  .message-board
    h1 Message Board
    
    
    if currentUser
      a(href='/message/create') Post a message

    for message in messages
      .card
        .card-header.bg-dark.text-light
          h1 #{message.title} 
          p Posted at: #{message.timestamp}
        .card-body 
          p #{message.text}
        .card-footer
          if currentUser
            p Posted by: #{currentUser.isMember ? message.author.name : 'Become a member to see who posted this'}
            if currentUser.isAdmin
              a(href=`/message/${message._id}/delete`) Delete Message
          else
            p Posted by: Only members can see who posted this!
      